@font-face{
	font-family: "Brown";
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/BrownStd-Bold.otf') format('opentype');
}


.container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Brown", sans-serif;
}
.header {
    display: flex;
    justify-content: center;
}
.header__title {
    font-family: "Brown", sans-serif;
}
.pattern {
    box-shadow: 2px 5px 8px lightgrey;
    margin: 1rem;
    padding: 1rem;
    flex-basis: 40%;
}
.pattern--wide{
    flex-basis: auto;
}
.pattern__title {
    color: black;
    font-size: 1rem;
}
.pattern__text {
    color:black;
}
.pattern__example {
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 1px solid darkgray;
}
.pattern__example--bg{
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 1px solid darkgray;
    font-family: "Brown", sans-serif;
}