@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.card__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-family: "Roboto", sans-serif; }

.card__image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%; }
